*{
    margin: 0;
    padding: 0;
}
#nav-bar {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
   
}

.navbar-nav li {
    padding: 0 10px;
 

}
.navbar-nav li a {
    float: left;
    text-align: left;
   
}
#nav-bar ul li a:hover {
    color: #970909!important;

}
.navbar {
   background-image: url('../img/first.jpg');
}
.navbar-toggler {
    border: none!important;
}
.nav-link {
    color: #fff!important;
    font-weight: 600;
    font-size: 16px;
}
/*----card----*/
.card{
    width: 18rem;
    float: left;
    margin-left: 9%;
    margin-top: 10px;
    text-align: center;
    

}
.card img{
    height: 350px;
    
}
 /*@media only screen and(max-width: 768px){

 }*/
  
