
* {
	margin: 0;
	padding: 0;
}
#nav-bar {
	position: fixed;
	top: 0;
	z-index: 10;
	width: 100%;
	ul {
		li {
			a {
				&:hover {
					color: #970909;
				}
			}
		}
	}
}
.navbar-nav {
	li {
		padding: 0 10px;
		a {
			float: left;
			text-align: left;
		}
	}
}
.navbar {
	//background-image: url('../img/first.jpg');
	background-color: rgb(41, 136, 199);
}
.navbar-toggler {
	border: none;
}
.nav-link {
	color: #fff;
	font-weight: 600;
	font-size: 16px;
}

.htitle{
    text-align: center;
    margin-top: 70px;
}

.card {
	width: 18rem;
	float: left;
	margin-left: 9%;
	margin-top: 10px;
	text-align: center;
	img {
		height: 350px;
	}
}
footer {
    float: left;
    width: 100%;
  
}
#soc {
    
    img{
        border-radius: 25px;
    }     
}
    