* {
    margin: 0;
    padding: 0;
    
}
/*----Slider----*/

#slider {
    width: 100%;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;

}
.carousel-item {
    height: 500px;
    width: 100%;

}

.carousel-caption h5 {
    color: #000;
    font-size: 42px;

}
/*----About----*/
#about {
    height: 500px;
    color: #555;
   

}

.col-md-6 img{
    float: left;
   
}
.col-md-6 h2{
    padding-top: 70px;
    margin-left: 40%;
     float: left;



}

.col-md-6 p{
    padding-top: 10px;
    float: left;
 
   

}


/*----Techniques----*/
#techniques {
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/first.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;

}
#techniques h1 {
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;

}
#techniques h1::after {
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;

}
/*----Footer----*/
#footer{
    background: #333;
    color: #fff;
    padding: 12px;
}
@media only screen and(max-width: 768px){

}